<div class="h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-xs">
    <p class="text-center py-6 font-extrabold text-3xl tracking-wide text-blue-600 drop-shadow-md">
      Sign In
    </p>

    <form
      class="bg-white flex flex-col shadow-md rounded px-8 pt-6 pb-8 mb-4"
      (ngSubmit)="signIn()"
    >
      <div class="mb-2">
        <app-auth-input
          [(model)]="email"
          src="icons/email.svg"
          label="Email"
          placeholder="Email"
          type="email"
        ></app-auth-input>
      </div>

      <div class="mb-2">
        <app-auth-input
          [(model)]="password"
          src="icons/password.svg"
          label="Password"
          placeholder="Password"
          type="password"
        ></app-auth-input>
      </div>

      <div class="flex justify-between items-center mb-4">
        <a
          class="text-sm text-blue-600 hover:text-blue-800 font-semibold"
          routerLink="/forgot-password"
        >
          Forgot Password?
        </a>
      </div>

      <app-sign-button
      text="Sign In"
      ></app-sign-button>
    </form>

    <app-text-link
      text="Don't have an account?"
      [link]="'/sign-up'"
      buttonName="Sign up"
    ></app-text-link>

    <app-footer-info-text> </app-footer-info-text>
  </div>
</div>