<app-navbar></app-navbar>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <app-ticket-filter (filterChanged)="onFilter($event)"></app-ticket-filter>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (item of filteredTickets; track $index) {
        <app-ticket-card 
      [description]="item.description"
      [stock]="item.stock"
      [price]="item.price"
      [discount]="item.discount"
      [imageUrl]="item.images[0] ? item.images[0] : 'defaultImage.webp'"
      [buttonText]="'Add to cart'"
      (buttonClick)="goTicketDetailPage(item)"
      ></app-ticket-card>
      }
    </div>
  </div>