<div class="h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-xs">
    <p
      class="text-center py-6 font-extrabold text-3xl tracking-wide text-blue-600 drop-shadow-md"
    >
      Sign Up
    </p>

    <form
      class="bg-white flex flex-col shadow-md rounded px-8 pt-6 pb-8 mb-4"
      (ngSubmit)="signUp()"
    >
      <div class="mb-2">
        <app-auth-input
          [(model)]="email"
          src="icons/email.svg"
          label="Email"
          placeholder="Email"
          type="email"
        ></app-auth-input>
      </div>

      <div class="mb-2">
        <app-auth-input
          [(model)]="firstName"
          src="icons/user.svg"
          label="Username"
          placeholder="Username"
          type="text"
        ></app-auth-input>
      </div>

      <div class="mb-2">
        <app-auth-input
          [(model)]="password"
          src="icons/password.svg"
          label="Password"
          placeholder="Password"
          type="password"
        ></app-auth-input>
      </div>

      <div class="mb-4">
        <app-auth-input
          [(model)]="confirmPassword"
          src="icons/password.svg"
          label="Confirm Password"
          placeholder="Confirm Password"
          type="password"
        ></app-auth-input>
      </div>

      <app-sign-button
      text="Sign Up"
      ></app-sign-button>

      <button
        type="button"
        (click)="signupWithGoogle()"
        class="w-full flex items-center justify-center gap-2 border border-gray-300 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 rounded shadow-sm transition duration-200"
      >
        <img
          src="https://www.svgrepo.com/show/475656/google-color.svg"
          alt="Google"
          class="w-5 h-5"
        />
        Sign Up with Google
      </button>
    </form>

    <app-text-link
      text="Already have an account?"
      [link]="'/signin'"
      buttonName="Sign In"
    ></app-text-link>

    <app-footer-info-text></app-footer-info-text>
  </div>
</div>
