<header class="bg-gray-900">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1 items-center space-x-6">
      <a href="#">
        <span class="sr-only">Your Company</span>
        <img class="h-12 w-auto" src="BTMlogo.png" alt="logo" />
      </a>

      @if(role === 'admin') {
      <a
        (click)="goToAdminDashboard()"
        class="text-sm font-semibold cursor-pointer text-white hover:text-indigo-400"
        >Admin Dashboard</a
      >
      } @else if(role === 'seller') {
      <a
        (click)="goToSellerDashboard()"
        class="text-sm font-semibold cursor-pointer text-white hover:text-indigo-400"
        >Seller Dashboard</a
      >
      }
    </div>

    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="size-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a
        (click)="getAlltickets()"
        class="text-sm font-semibold cursor-pointer text-white hover:text-indigo-400"
        >Home</a
      >
      <a
        class="text-sm font-semibold cursor-pointer text-white hover:text-indigo-400"
        >Support</a
      >
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end items-center space-x-6">
      @if(authService.isThereUser()) {
      <a
        (click)="getMyProfile()"
        routerLinkActive="router-link-active"
        class="text-sm font-semibold text-white hover:text-indigo-400 cursor-pointer"
        >Profile</a
      >
      <a
        (click)="logOut()"
        routerLinkActive="router-link-active"
        class="text-sm font-semibold text-white hover:text-indigo-400 cursor-pointer"
        >Logout</a
      >
      } @else {
      <app-auth-buttons class="flex"></app-auth-buttons>
      }
    </div>
  </nav>
</header>


<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl flex justify-center space-x-18 py-3">
    <a (click)="selectCategory('flight')" class="text-white hover:text-indigo-400 cursor-pointer">Flights</a>
    <a (click)="selectCategory('train')" class="text-white hover:text-indigo-400 cursor-pointer">Train</a>
    <a (click)="selectCategory('bus')" class="text-white hover:text-indigo-400 cursor-pointer">Bus</a>
    <a (click)="selectCategory('hotel')" class="text-white hover:text-indigo-400 cursor-pointer">Hotel</a>
    <a (click)="selectCategory('movie')" class="text-white hover:text-indigo-400 cursor-pointer">Movies</a>
    <a (click)="selectCategory('theater')" class="text-white hover:text-indigo-400 cursor-pointer">Theater</a>
    <a (click)="selectCategory('concert')" class="text-white hover:text-indigo-400 cursor-pointer">Concerts</a>
  </div>
</nav>
